<h1>Simulation parameteres:</h1>

<h2>{{detailsCtrl.simulation.n}} P {{detailsCtrl.simulation.p}} I {{detailsCtrl.simulation.i}}
    R {{detailsCtrl.simulation.r}} M {{detailsCtrl.simulation.m}} Ti {{detailsCtrl.simulation.ti}}
    Tm {{detailsCtrl.simulation.tm}} Ts {{detailsCtrl.simulation.ts}}</h2>

<h1>Simulation details:</h1>
<h2>{{detailsCtrl.simulation.daysOfSimulation}}</h2>
<h2>{{detailsCtrl.simulation.daysOfSimulation[0].pid}}</h2>

<canvas id="lineChart" width="400" height="400"></canvas>
