<div class="row">
    <div class="col-2"></div>
    <div style="text-align: left" class="col-8">
        <p>Aplikacja pozwala przechowywać i nowe symulacje. Aby zdefiniować nową symulacje należy określić wstępne
            parametry:</p>
        <ul style="text-align: left">
            <li>Nazwa symulacji</li>
            <li>P - wielkość populacji</li>
            <li>I - początkowa liczba osób zarażonych</li>
            <li>R - wskaźnik określający ile kolejnych osób zaraża jedna zarażona osoba</li>
            <li>M - wskaźnik śmiertelności, określający ilu spośród zarażonych umiera</li>
            <li>Ti - ilość dni która upływa, od momentu zarażenia do wyzdrowienia chorego</li>
            <li>Tm - ilość dni która upływa od momentu zarażenia do śmierci chorego</li>
            <li>Ts - ilość dni dla których ma być przeprowadzona symulacja</li>
        </ul>
        <p>po dodaniu symulacji, przeprowadzana jest symulacja rozwoju pandemii, której wynikiem są:</p>
        <ul style="text-align: left">
            <li>liczba osób zarażonych od początku pandemii</li>
            <li>liczba osób zmarłych od początku pandemii</li>
            <li>liczba osób które wyzdrowiały i nabyły odporność, począwszy od wykrycia wirusa u pierwszych osób</li>
            <li>liczba osób zdrowych, które nie miały styczności z wirusem w zdefiniowanym czasie</li>
            <li>liczba wszystkich aktywnie zakażonych (rozprzestzeniających wirus) danego dnia</li>
            <li>liczba nowych zakazonych danego dnia (przyrost)</li>
            <li>liczba zmarłych danego dnia (przyrost)</li>
            <li>liczba osob ktore wyzdrowialy danego dnia(przyrost)</li>
        </ul>
        <p>dane te, prezentowanę są na trzech interaktywnych wykresach (po kliknięciu w dany parametr można go
            ukryć/odkryć
            ,<br />  co powoduję przeskalowanie wykresu pod aktualne dane).</p>
    </div>
    <div class="col-2"></div>
</div>
