<h1>Add new simulation</h1>
<form>
    <input type="text" ng-model="newCtrl.simulation.n" placeholder="Nazwa symulacji"><br>
    <input type="text" ng-model="newCtrl.simulation.p" placeholder="P - wielkość populacji"><br>
    <input type="text" ng-model="newCtrl.simulation.i" placeholder="I - początkowa liczba osób zakażonych"><br>
    <input type="text" ng-model="newCtrl.simulation.r" placeholder="R - wskaźnik określający ile osób zaraża jedna zarażona osoba"><br>
    <input type="text" ng-model="newCtrl.simulation.m" placeholder="M - wskaźnik śmiertelności, określający ilu spośród zakażonych umiera"><br>
    <input type="text" ng-model="newCtrl.simulation.ti" placeholder="Ti - ilość dni która upływa, od momentu zarażenia do wyzdrowienia chorego"><br>
    <input type="text" ng-model="newCtrl.simulation.tm" placeholder="Tm - ilość dni, która upływa od momentu zarażenia do śmierci chorego"><br>
    <input type="text" ng-model="newCtrl.simulation.ts" placeholder="Ts - ilość dni, dla których ma być przeprowadzona symulacja"><br>
    <button ng-click="newCtrl.saveSimulation()">Dodaj symumlacje</button>
</form>